/*

Basic size: 20px;
Basic color: #44f, rgb(68,68,255);
Basic background color: #eee;

*/

html, body {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	width: 100%;
	min-height: 100vh;
	height: 100%;
	box-sizing: border-box;
}

.header {
	position: fixed;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: #44f;
	padding: 10px 20px;
	box-sizing: border-box;
	z-index: 999;
}

.header .profile {
	margin-right: 20px;
	font-family: Circe;
	font-size: 20px;
	line-height: 40px;
}

.header .profile a {
	color: #fff;
}

.header .exit,
.header .enter {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 40px;
	padding: 0 5px;
	border: 2px solid #fff;
	border-radius: 2px;
	box-sizing: border-box;
}

.header .exit a,
.header .enter a {
	display: inline-flex;
	width: 100%;
	height: 100%;
	font-family: Circe;
	font-size: 20px;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
}

.header .exit a:focus,
.header .enter a:focus {
	color: #fff;
}

.container {
	position: relative;
	width: 100%;
	min-height: 100%;
	/*height: 100%;*/
	padding: 80px 20px 0 20px;
	background: #eee;
	box-sizing: border-box;
}

.wrapper {
	position: relative;
	width: 100%;
	/*min-height: 100%;*/
	height: auto;
	box-sizing: border-box;
	overflow: hidden;
}

/* --- Events list --- */

.list .finder {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	width: 100%;
	margin: 20px 0 40px 0;
	padding: 10px;
	background: #44f;
	box-sizing: border-box;
}

.list .finder__title {
	display: inline-block;
	width: 120px;
	flex: auto;
	padding: 8px 5px 3px 5px;
	font-family: Circe;
	font-size: 20px;
	line-height: 22px;
	color: #fff;
	text-align: center;
	background: #44f;
	border: 2px solid #fff;
	border-radius: 2px;
	outline: none;
	box-sizing: border-box;
}

.list .finder__field {
	position: relative;
	display: inline-flex;
	width: 100%;
	flex-grow: 1;
	flex-shrink: 1;
	margin-left: 10px;
	box-sizing: border-box;
	cursor: pointer;
}

.list .finder__field .text {
	position: relative;
	width: 100%;
	height: 38px;
	padding: 5px 20px 3px 20px;
	font-family: Circe;
	font-size: 20px;
	line-height: 22px;
	color: #fff;
	background: #44f;
	border: 2px solid #fff;
	border-radius: 2px;
	outline: none;
	opacity: 1;
	box-sizing: border-box;
	cursor: pointer;
	transition: opacity 0.5s ease;
}

.list .finder__field .text[disabled] {
	opacity: 0.2;
}

.list .finder__field .skin {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 38px;
}

.list .events {
	margin: 0;
	padding: 0;
	list-style: none;
}

.list .events .event {
	position: relative;
	width: 100%;
	min-height: 120px;
	height: auto;
	color: #44f;
}

.list .events .event:first-child {
	margin: 20px 0;
}

.list .events .event + .event {
	margin-bottom: 20px;
}

.list .events .event .event__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff center center no-repeat;
    background-size: cover;
}

.list .events .event .event__skin {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.8;
}

.list .events .event .event__container {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.list .events .event .event__name, .events .event .event__name:visited, .events .event .event__name:focus {
	position: relative;
	display: inline-block;
	font-family: Circe;
	font-size: 24px;
	line-height: 26px;
	color: inherit;
	text-decoration: none;
}

.list .events .event .event__line {
	width: 100%;
	height: 2px;
	margin-top: 5px;
	background: #44f;
}

.list .events .event .event__address {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	margin-top: 10px;
}

.list .events .event .event__address .address__icon {
	width: 24px;
	height: 30px;
	fill: #44f;
}

.list .events .event .event__address .address__name {
	margin: 5px 0 0 10px;
	font-family: Circe;
	font-size: 20px;
	line-height: 22px;
}

.list .events .event .event__time {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	margin-top: 10px;
}

.list .events .event .event__time .time__icon {
	width: 24px;
	height: 24px;
	fill: #44f;
}

.list .events .event .event__time .time__name {
	margin: 5px 0 0 10px;
	font-family: Circe;
	font-size: 20px;
	line-height: 22px;
}

.list .noevents {
	font-family: Circe;
	font-size: 30px;
	line-height: 34px;
}

/* --- Event details ---*/

.event-details {
	font-family: Circe;
	color: #44f;
}

.event-details .event__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0) center center no-repeat;
  background-size: cover;
  opacity: 0.2;
}

.event-details .event__name {
	margin-top: 40px;
	font-size: 40px;
	line-height: 44px;
}

.event-details .event__location,
.event-details .event__organizer,
.event-details .event__description,
.event-details .event__date {
	font-size: 22px;
	line-height: 24px;
}

.event-details .event__rating {
	display: flex;
	flex-flow: column nowrap;
}

.event-details .event__rating .rating__eval {
	position: relative;
	display: inline-flex;
	flex-flow: row nowrap;
	width: 177px;
}

.event-details .event__rating .rating__eval input {
	position: absolute;
	flex-grow: 1;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	border: none;
	opacity: 0;
	z-index: 1;
	cursor: pointer;
}

.event-details .event__rating .rating__eval label {
	font-size: 20px;
	text-shadow: 0px 0px 0 #11f, 0.5px 0.5px 0 #11f, 1px 1px 0 #000;
	transform: translate3d(0, 0, 0);
	transition: text-shadow 0.5s ease, transform 0.5s ease;
}

.event-details .event__rating .rating__eval input:hover + label,
.event-details .event__rating .rating__eval input:checked + label {
	text-shadow: 0px 0px 0 #11f;
	transform: translate3d(1px, 1px, 0);
}

.event-details .event__rating .rating__button {
	height: 40px;
	margin: 0;
	padding: 0 5px;
	font-family: Circe;
	font-size: 22px;
	line-height: 24px;
	background: #88f;
	border: 2px solid #fff;
	border-radius: 2px;
	color: #fff;
	cursor: pointer;
	transition: background 0.5s ease, border 0.5s ease;
}

.event-details .event__rating .rating__button:hover {
	background: #44f;
	border: 2px solid #44f;
	color: #fff;
}

.event-details #event__map {
	margin-top: 20px;
	width: 100%;
	height: 300px;
}

.event-details .event__line {
	display: inline-block;
	width: 100%;
	height: 2px;
	margin: 20px 0;
	background: #44f;
}

.event-details .event__comments {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	margin: 20px 0;
	padding: 20px;
	border: 2px solid #44f;
	box-sizing: border-box;
}

.event__comments .comments__title {
	font-size: 22px;
	line-height: 24px;
}

/* Comments block */

.event__comments .comment {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	margin-top: 20px;
	font-size: 22px;
	line-height: 24px;
}

.comment .comment__line {
	width: 100%;
	height: 2px;
	margin-bottom: 10px;
	background: #44f;
}

.comment .comment__user {
	flex-grow: 0;
	flex-shrink: 1;
}

.comment .comment__date {
	flex-shrink: 0;
	opacity: 0.5;
}

.comment .comment__row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
	margin-top: 10px;
	box-sizing: border-box;
}

.comment .comment-change {
	position: relative;
	display: flex;
	flex-flow: row wrap;
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
	margin: 0;
	padding: 0;
}

.comment .comment-change .comment-change__errors {
	display: none;
	width: 100%;
	color: #f00;
}

.comment .comment-change .comment-change__errors.active {
	display: inline-block;
}

.comment-change .comment__text {
	flex-grow: 1;
	margin: 10px 20px 10px 0;
	padding: 10px;
	font-family: Circe;
	font-size: 22px;
	line-height: 24px;
	background: none;
	border: none;
	color: #44f;
	resize: none;
	outline: none;
}

.comment-change .comment__text.active {
	background: #fff;
	outline: 10px solid #fff;
}

.comment .comment__buttons {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	height: 40px;
	border: 2px solid #44f;
	border-radius: 5px;
}

.comment__buttons .button_delete,
.comment__buttons .button_delete a,
.comment__buttons .button_update {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
}

.comment__buttons .button_delete span {
	position: absolute;
	width: 30px;
	height: 2px;
	top: 19px;
	left: 5px;
	background: #44f;
}

.comment__buttons .button_delete span:first-child {
	transform: rotate(45deg);
}

.comment__buttons .button_delete span:last-child {
	transform: rotate(-45deg);
}

.comment__buttons .button_update svg {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 5px;
}

.comment__buttons .button_update svg path {
	fill: #44f;
}

.comment-add {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin: 20px 0 0 0;
}

.comment-add__text {
	display: inline-flex;
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
	min-height: 40px;
	margin-right: 20px;
	padding: 10px;
	font-size: 22px;
	line-height: 24px;
	color: #fff;
	border: none;
	background: #88f;
	outline: none;
}

.comment-add__button,
.comment-add__text::-webkit-input-placeholder {
	font-family: Circe;
	font-size: 22px;
	line-height: 24px;
	color: rgba(255, 255, 255, 0.5);
}

.comment-add__button {
	height: 40px;
	margin: 0;
	padding: 0 5px;
	line-height: 30px;
	background: #88f;
	border: none;
	color: #fff;
	cursor: pointer;
}

/* --- Event editor page --- */

.event-edit {
	font-family: Circe;
	color: #44f;
}

.event-edit form {
	display: flex;
	flex-flow: column nowrap;
	width: 100%;
	margin: 0 0 20px 0;
}

.event-edit__row {
	display: flex;
	flex-flow: row nowrap;
	padding: 20px 0; 
	border-bottom: 2px solid #44f;
}

.event-edit__row_image {
	flex-flow: row wrap;
}

.event-edit__row_image .row__label {
	width: 100%;
}

.event-edit__row_image .row__subrow {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	margin: 10px 0;
}

.event-edit__row_image input[type="file"] {
	margin: 0;
	padding: 0;
	background: none;
}

.event-edit__row_image .row__subrow input[type="checkbox"] {
	width: 24px;
	height: 24px;
	margin-left: 20px;
}

.event-edit__row label,
.event-edit__row input {
	display: inline-block;
	flex-grow: 1;
	flex-shrink: 1;
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	font-family: Circe;
	font-size: 22px;
	line-height: 24px;
	color: #44f;
}

.event-edit__row input {
	width: 100%;
	margin-left: 20px;
	padding: 5px 10px;
	background: #fff;
}

.event-edit .event-edit__button {
	width: 150px;
	margin-top: 10px;
	padding: 5px 10px 3px 10px;
	background: rgba(0, 0, 0, 0);
	border: 2px solid #44f;
	border-radius: 2px;
	font-family: Circe;
	font-size: 22px;
	line-height: 24px;
	color: #44f;
	cursor: pointer;
	transition: background 0.2s ease, border 0.2s ease, color 0.2s ease;
}

/* --- User page --- */

.user-page {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 1;
	flex-shrink: 0;
	height: auto;
}

.user-page .menu {
	position: fixed;
	display: flex;
	flex-flow: column nowrap;
	top: 80px;
	left: 20px;
	width: 25vw;
	padding: 20px;
	border: 2px solid #44f;
	box-sizing: border-box;
	z-index: 999;
}

.user-page .menu a {
	display: inline-block;
	font-family: Circe;
	font-size: 22px;
	line-height: 24px;
	color: #44f;
}

.user-page .menu a:not(:last-child) {
	margin-bottom: 20px;
}

.user-page .wrapper {
	padding-left: calc(25vw + 25px); 
}

.user-page .user-page__title {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 10px;
	font-family: Circe;
	font-size: 36px;
	line-height: 40px;
	color: #44f;
	border-bottom: 2px solid #44f;
}

.user-page .title__text {
	margin-top: 4px;
}

.user-page .add_button {
	position: relative;
	width: 40px;
	height: 40px;
	border: 2px solid #44f;
	border-radius: 5px;
}

.user-page .add_button a {
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
}

.user-page .add_button a span {
	position: absolute;
	display: inline-block;
	top: 19px;
	left: 5px;
	width: 30px;
	height: 2px;
	background: #44f;
}

.user-page .add_button a span:last-child {
	transform: rotate(90deg);
}

.user-page .organizations {
	margin: 0;
	padding: 0;
	list-style: none;
}

.user-page .organizations .organization {
	position: relative;
	width: 100%;
	min-height: 120px;
	height: auto;
	color: #44f;
}

.user-page .organizations .organization:first-child {
	margin: 20px 0;
}

.user-page .organizations .organization + .organization {
	margin-bottom: 20px;
}

.user-page .organizations .organization .organization__container {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	width: 100%;
	box-sizing: border-box;
}

.user-page .organizations .organization .organization__name,
.user-page .organizations .organization .organization__description {
	position: relative;
	display: inline-block;
	font-family: Circe;
	font-size: 24px;
	line-height: 26px;
	color: inherit;
	text-decoration: none;
}

.user-page .organizations .organization .organization__description {
	margin-top: 20px;
}

.user-page .organizations .organization .organization__line {
	width: 100%;
	height: 2px;
	margin-top: 5px;
	background: #44f;
}

.user-page .events {
	margin: 0;
	padding: 0;
	list-style: none;
}

.user-page .events .event {
	position: relative;
	width: 100%;
	min-height: 120px;
	height: auto;
	color: #44f;
}

.user-page .events .event:first-child {
	margin: 20px 0;
}

.user-page .events .event + .event {
	margin-bottom: 20px;
}

.user-page .events .event .event__image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff center center no-repeat;
    background-size: cover;
}

.user-page .events .event .event__skin {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.8;
}

.user-page .events .event .event__container {
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
}

.user-page .events .event .event__name, .events .event .event__name:visited, .events .event .event__name:focus {
	position: relative;
	display: inline-block;
	font-family: Circe;
	font-size: 24px;
	line-height: 26px;
	color: inherit;
	text-decoration: none;
}

.user-page .events .event .event__line {
	width: 100%;
	height: 2px;
	margin-top: 5px;
	background: #44f;
}

.user-page .events .event .event__address {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	margin-top: 10px;
}

.user-page .events .event .event__address .address__icon {
	width: 24px;
	height: 30px;
	fill: #44f;
}

.user-page .events .event .event__address .address__name {
	margin: 5px 0 0 10px;
	font-family: Circe;
	font-size: 20px;
	line-height: 22px;
}

.user-page .events .event .event__time {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	margin-top: 10px;
}

.user-page .events .event .event__time .time__icon {
	width: 24px;
	height: 24px;
	fill: #44f;
}

.user-page .events .event .event__time .time__name {
	margin: 5px 0 0 10px;
	font-family: Circe;
	font-size: 20px;
	line-height: 22px;
}

.user-page .events .event .event__buttons {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	max-width: 80px;
	height: 40px;
	margin-top: 10px;
	border: 2px solid #44f;
	border-radius: 5px;
}

.event__buttons .button_delete,
.event__buttons .button_delete a,
.event__buttons .button_update {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 40px;
}

.event__buttons .button_delete span {
	position: absolute;
	width: 30px;
	height: 2px;
	top: 19px;
	left: 5px;
	background: #44f;
}

.event__buttons .button_delete span:first-child {
	transform: rotate(45deg);
}

.event__buttons .button_delete span:last-child {
	transform: rotate(-45deg);
}

.event__buttons .button_update a {
	display: inline-block;
	width: 100%;
	height: 100%;
}

.event__buttons .button_update svg {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	padding: 5px;
}

.event__buttons .button_update svg path {
	fill: #44f;
}

.user-page .noevents,
.user-page .nocomments {
	font-family: Circe;
	font-size: 30px;
	line-height: 34px;
}

.user-page .user-page__comments {
	display: flex;
	flex-flow: column nowrap;
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
}

.user-page__comments .comment {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	margin-top: 20px;
	padding: 20px;
	font-family: Circe;
	font-size: 22px;
	line-height: 24px;
	color: #44f;
	border: 2px solid #44f;
	box-sizing: border-box;
}

.user-page__comments .comment .comment__event-name {
	width: 50%;
	padding: 0 10px 10px 0;
	box-sizing: border-box;
	text-decoration: none;
	color: #44f;
}

.user-page__comments .comment .comment__date {
	width: 50%;
	padding: 0 0 10px 10px;
	box-sizing: border-box;
	opacity: 0.5;
	text-align: right;
}

.user-page__comments .comment .comment__text {
	width: 100%;
	padding: 20px 0 0 0;
	border-top: 2px solid #44f;
}

/* --- Registration page ---*/

.registration .wrapper {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	flex: auto;
}

.registration .title {
	display: inline-block;
	width: 100%;
	margin: 20px 0;
	font-family: Circe;
	font-size: 44px;
	line-height: 50px;
	color: #44f;
}

.registration .form {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 0;
	flex-shrink: 1;
	width: 100%;
	box-sizing: border-box;
}

.registration label {
	display: inline-block;
	width: 100%;
	font-family: Circe;
	font-size: 22px;
	line-height: 24px;
	color: #44f;
}

.registration input[type="text"],
.registration input[type="password"],
.registration input[type="email"] {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	padding: 5px 10px 3px 10px;
	font-family: Circe;
	font-size: 22px;
	line-height: 24px;
	color: #44f;
	background: none;
	border: none;
	border-bottom: 2px solid #44f;
	outline: none;
	opacity: 1;
	box-sizing: border-box;
}

.registration button[type="submit"] {
	width: 240px;
	margin-top: 10px;
	padding: 5px 10px 3px 10px;
	background: rgba(0, 0, 0, 0);
	border: 2px solid #44f;
	border-radius: 2px;
	font-family: Circe;
	font-size: 22px;
	line-height: 24px;
	color: #44f;
	cursor: pointer;
	transition: background 0.2s ease, border 0.2s ease, color 0.2s ease;
}

.registration button[type="submit"]:hover {
	background: #44f;
	border: 2px solid rgba(0, 0, 0, 0);
	color: #fff;
}

/* --- Login page ---*/

.login .wrapper {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	flex: auto;
}

.login .title {
	display: inline-block;
	width: 100%;
	margin: 20px 0;
	font-family: Circe;
	font-size: 44px;
	line-height: 50px;
	color: #44f;
}

.login .form {
	display: flex;
	flex-flow: column nowrap;
	flex-grow: 0;
	flex-shrink: 1;
	width: 100%;
	box-sizing: border-box;
}

.login label {
	display: inline-block;
	width: 100%;
	font-family: Circe;
	font-size: 22px;
	line-height: 24px;
	color: #44f;
}

.login input[type="text"], .login input[type="password"] {
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
	padding: 5px 10px 3px 10px;
	font-family: Circe;
	font-size: 22px;
	line-height: 24px;
	color: #44f;
	background: none;
	border: none;
	border-bottom: 2px solid #44f;
	outline: none;
	opacity: 1;
	box-sizing: border-box;
}

.login button[type="submit"] {
	width: 240px;
	margin-top: 10px;
	padding: 5px 10px 3px 10px;
	background: rgba(0, 0, 0, 0);
	border: 2px solid #44f;
	border-radius: 2px;
	font-family: Circe;
	font-size: 22px;
	line-height: 24px;
	color: #44f;
	cursor: pointer;
	transition: background 0.2s ease, border 0.2s ease, color 0.2s ease;
}

.login button[type="submit"]:hover {
	background: #44f;
	border: 2px solid rgba(0, 0, 0, 0);
	color: #fff;
}

.list .pagination_symb{
	text-decoration: none;
}