{% extends "eManager/layout.html" %}

{% block content %}
<main class="container user-page" data-controller="">
  <section class="wrapper">
    <div class="user-page__title events__title">
      <span class="title__text">Информация о пользователе</span>
    </div>
    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="user-edit__row">
        <label for="id_username">Логин: </label>
        {{ form.username }}
        {{ form.username.errors }}
      </div>
      <div class="user-edit__row">
        <label for="id_email">Мыло: </label>
        {{ form.email }}
        {{ form.email.errors }}
      </div>
      <div class="user-edit__row">
        <label for="id_password">Пароль: </label>
        {{ form.password }}
        {{ form.password.errors }}
      </div>
      <input class="user-edit__button" type="submit" value="Отправить" />
    </form>
  </section>
</main>
{% endblock %}