{% extends "eManager/layout.html" %}

{% block content %}
<main class="container user-page" data-controller="">
	<section class="wrapper">
  	<div class="user-page__title organizations__title">
  		<span class="title__text">Организации:</span>
  		<div class="add_button">
  			<a href="{% url 'emanager:OrganizationCreateView' %}">
  				<span></span>
  				<span></span>
  			</a>
  		</div>
  	</div>

    {% if organizations %}
      <ul class="organizations">
      {% for organization in organizations %}
        <li class="organization">
          <div class="organization__container">
            <span class="organization__name">{{ organization.name }}</span>
            <!-- <span class="organization__line"></span> -->
            <span class="organization__description">{{ organization.description }}</span>
          </div>
        </li>
      {% endfor %}
      </ul>
    {% else %}
      <p class="noevents">Организаций нет.</p>
    {% endif %}
  </section>
</main>
{% endblock %}