{% extends "eManager/layout.html" %}

{% block content %}
<main class="container registration" data-controller="">
	<section class="wrapper">
		<span class="title">Регистрация</span>
		<form class="form" action="" method="post">
			{% csrf_token %}
			<label for="{{ form.username.id_username }}">Логин: </label>
			{{ form.username }}
			{{ form.username.errors }}
			<label for="{{ form.email.id_email }}">Почта: </label>
			{{ form.email }}
			{{ form.email.errors }}
			<label for="{{ form.password1.id_password1 }}">Пароль: </label>
			{{ form.password1 }}
			{{ form.password1.errors }}
			<label for="{{ form.password2.id_password2 }}">Пароль: </label>
			{{ form.password2 }}
			{{ form.password2.errors }}
			<button type="submit">Зарегистрироваться</button>
		</form>
	</section>
</main>
{% endblock %}