{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}" />

<div class="container registration" data-controller="">
    <div class="wrapper">
    	<span class="title">Регистрация</span>
		<form class="form" action="" method="post">
			{% csrf_token %}
			{{ form.login.errors }}
		    <label for="{{ form.login.id_login }}">Логин: </label>
		    {{ form.login }}
			{{ form.password.errors }}
		    <label for="{{ form.password.id_password }}">Пароль: </label>
		    {{ form.password }}
			<button type="submit">Зарегистрироваться</button>
		</form>
		{% if form.error %}
			<span>{{form.error}}</span>
		{% endif %}
	</div>
</div>